
#background {
    background-color: black;
    margin: 0;
    padding:0;
}

p {
    padding: 10px;
    color: azure;
}

a  {
    color: rgb(20, 216, 216);
}



#mainimg {
    padding: 1px;
    margin-right: 10px;
}

#navi {
    background-color: rgb(53, 47, 47);
    margin-bottom: 20px;
}

#title {
   background-color: blueviolet;
}

  
  h4 {
    color: azure;
}

.navbar-default  {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

/* .navbar-toggler {
    background-color: aqua;
    color: black;
} */